@media screen and (min-device-width: 1025px) and (max-device-width: 1279px) {
  .header {
    padding-bottom: 48px;
  }

  .lead__image {
    max-width: calc(100% - 96px);
  }
  .lead__caption {
    max-width: calc(100% - 96px);
  }
  .intro {
    padding-left: 48px;
  }
  .photo-grid {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
  .places {
    padding: 0px 48px 92px;
  }
  .place {
    grid-template-columns: repeat(2, minmax(200px, 440px));
    column-gap: 32px;
    row-gap: 48px;
  }
  .lead__subtitle {
    margin: 0 auto 56px;
  }
}

@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .header {
    padding-bottom: 48px;
  }

  .lead__image {
    max-width: calc(100% - 96px);
  }
  .lead__caption {
    max-width: calc(100% - 96px);
  }
  .intro {
    padding-left: 48px;
  }
  .photo-grid {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
  .places {
    padding: 0px 48px 92px;
  }
  .place {
    grid-template-columns: repeat(2, minmax(200px, 440px));
    column-gap: 32px;
    row-gap: 48px;
  }
  .lead__subtitle {
    margin: 0 auto 56px;
  }
}

@media screen and (min-device-width: 540px) and (max-device-width: 768px) {
  .header {
    padding-bottom: 48px;
    max-width: calc(100% - 48px);
  }

  .lead__image {
    max-width: 100%;
  }
  .lead__caption {
    max-width: calc(100% - 48px);
  }
  .intro {
    padding-left: 24px;
    padding-top: 88px;
    padding-right: 24px;
  }
  .photo-grid {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    padding: 0 0 88px;
  }
  .places {
    padding: 0px 48px 92px;
  }
  .place {
    grid-template-columns: minmax(200px, 340px) minmax(200px, 540px);
    column-gap: 32px;
    row-gap: 48px;
  }
  .lead__title {
    font-size: calc(1px + (95 — 1) * ((100vw — 540) / (768 — 540)));
  }
  .lead__subtitle {
    margin: 0 auto 56px;
  }
  .photo-grid {
    max-width: calc(100% - 48px);
    padding: 0 0 88px;
  }

  .intro__list {
    padding: 0 0 88px;
  }

  .place__title {
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
    /* or 106% */
    max-width: 340px;
    max-height: 92px;
  }
  .places {
    padding: 0 24px;
  }
  .place__image {
    width: minmax(100px, 340px);
  }
  .place {
    column-gap: 28px;
    row-gap: 48px;
    padding-bottom: 73px;
  }
  .place__paragraph {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    /* or 29px */

    color: #ffffff;
    margin: 0 0 25px;
    max-width: 352px;
  }
  .place:last-of-type {
    padding: 0 0 90px;
  }
  .cover__title {
  }
  .cover {
    margin-bottom: 88px;
  }
  .footer {
    padding: 0px 24px 24px;
  }
  .footer__link {
    font-size: calc(1px + (15 — 1) * ((100vw — 540) / (768 — 540)));
  }
  .footer__copyright {
    font-size: calc(1px + (13 — 1) * ((100vw — 540) / (768 — 540)));
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 539px) {
  .header {
    max-width: calc(100% - 32px);
    padding-top: 16px;
    padding-bottom: 48px;
  }
  .header__logo {
    height: 42px;
    width: 142px;
  }
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
  .lead__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 110%;
    padding-bottom: 16px;
  }
  .lead__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 0 16px 40px;
  }
  .lead__image {
    max-width: 100%;
  }
  .lead__caption {
    font-size: 10px;
    line-height: 14px;
    max-width: 100%;
    margin-left: 16px;
  }
  .intro {
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .intro__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }
  .intro__list {
    padding: 0 0 64px;
  }
  .photo-grid {
    max-width: 288px;
    grid-template-columns: 1fr;
    gap: 12px;
    padding: 0 0 64px;
  }

  .places {
    padding: 0px 0px 66px;
  }
  .place {
    grid-template-columns: 1fr;
    grid-template-areas:
      "place__title"
      "place__website"
      "place__image"
      "place__paragraphs";
    column-gap: 0;
    row-gap: 32px;
    padding-bottom: 50px;
  }
  .place__title {
    font-size: 32px;
    line-height: 35px;
  }
  .place__website,
  .place__title,
  .place__paragraphs {
    padding-left: 16px;
    padding-right: 16px;
  }

  .place__paragraph {
    font-size: 16px;
  }
  .cover {
    margin-bottom: 64px;
  }
  .cover__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    /* or 106% */
  }
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
    margin: 0 auto;
    padding-top: 16px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    padding: 0px 16px 24px;
    max-width: 186px;
  }

  .footer__links {
    display: flex;
    max-width: 186px;
    flex-direction: column;
  }
  .footer__link {
    width: 100%;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
  }
  .footer__copyright {
    text-align: start;
  }
  .footer__link:last-of-type {
    margin-bottom: 48px;
  }
}
