.cover__subtitle {
  z-index: 3;
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: start;
  justify-self: center;

  font-family: "inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */

  text-align: center;

  color: #ffffff;
  max-width: 360px;
  padding-top: 32px;
  margin: 0;
  padding-bottom: 245px;
}

@media screen and (max-width: 1025px) {
  .cover__subtitle {
    padding-bottom: 195px;
  }
}
@media screen and (max-width: 768px) {
  .cover__subtitle {
    padding-bottom: 115px;
  }
}
@media screen and (max-width: 539px) {
  .cover__subtitle {
    padding-bottom: 33px;
  }
}

@media screen and (max-width: 539px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
    margin: 0 auto;
    padding-top: 16px;
  }
}
