.footer__link {
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */

  color: #ffffff;
  text-decoration: none;
  margin-right: 18px;
}
.footer__link:last-of-type {
  margin: 0;
}
@media screen and (max-width: 768px) {
  .footer__link {
    font-size: calc(10px + (16 - 10) * ((100vw - 540px) / (768 - 540)));
  }
}
@media screen and (max-width: 539px) {
  .footer__link {
    width: 100%;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 24px;
  }
}
@media screen and (max-width: 539px) {
  .footer__link:last-of-type {
    margin-bottom: 48px;
  }
}
