.intro {
  max-width: 720px;
  display: block;
  text-align: left;
  padding-left: 148px;
  padding-top: 92px;
}
@media screen and (max-width: 1279px) {
  .intro {
    padding-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding-left: 24px;
    padding-top: 88px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 539px) {
  .intro {
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
