.footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 48px 24px;
}
@media screen and  (max-width: 768px) {
    .footer {
        padding: 0px 24px 24px;
      }
}
@media screen and (max-width: 539px) {
    .footer {
        display: flex;
        flex-direction: column;
        padding: 0px 16px 24px;
        max-width: 186px;
      }
}