.place__website {
  grid-area: place__website;
  display: block;
  align-self: end;
  max-width: 456px;
  max-height: 46px;
}
@media screen and (max-width: 539px) {
    .place__website {
        padding-left: 16px;
        padding-right: 16px;
      }
}